# React (client)
client/node_modules/
client/dist/

# Spring (server)
server/build/
server/.gradle/
server/bin/

# IDE & OS
.idea/
.vscode/
.DS_Store

# Spring Configuration
server/src/main/resources/application.yaml
server/src/main/resources/application-*.yaml

node_modules/
docker-compose.yml
client/.env
